@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Bem-vindo ao Sistema de Gerenciamento de Eventos</h1>
            <div class="mt-4">
                <a class="btn btn-primary btn-lg" asp-controller="Account" asp-action="Login">Login</a>
                <a class="btn btn-secondary btn-lg" asp-controller="Account" asp-action="Register">Registrar</a>
            </div>
        </div>
    </div>
</div>
